@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 700;
  src: url('./assets/fonts/NotoSansKR-Bold.otf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 400;
  src: url('./assets/fonts/NotoSansKR-Regular.otf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 500;
  src: url('./assets/fonts/NotoSansKR-Medium.otf') format('truetype');
  font-display: swap;
}

body {
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #d9d9d9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
